# Django
DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

# PostgreSQL
POSTGRES_DB=swap_public
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin

# IMPORTANTE:
# Dentro de Docker se usa "db" como host, no "localhost".
DATABASE_URL=postgres://postgres:admin@db:5432/swap_public

# Usuarios iniciales creados por:
# docker compose exec web sh scripts/docker-init.sh
DJANGO_ADMIN_PASSWORD=admin123
DJANGO_TTHH_PASSWORD=tthh123
DJANGO_INFORMATICA_PASSWORD=informatica123
DJANGO_PORTERIA_PASSWORD=porteria123
DJANGO_TECNICO_PASSWORD=tecnico123
DJANGO_SERVICIO_TECNICO_PASSWORD=servicio123