# Entorno virtual
venv/
ENV/
env/
.venv/

# Archivos de entorno
.env
*.env
!.env.example

# Permitimos el archivo de ejemplo
!.env.example

# Base de datos local
*.sqlite3

# Docker data volumes
data/

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# Temporales
*.bak
*.swp
*.tmp
.DS_Store
Thumbs.db

# Static files
staticfiles/
*.static/

# Coverage
htmlcov/
.coverage
*.cover
.cache
nosetests.xml
coverage.xml
*.coveragerc

# Build / Heroku
*.tar.gz
*.egg-info/
.Python