<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWAP | Añadir al Inventario</title>
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&icon_names=home" />
    <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}">
</head>
<body>
    <div class="comeback">
        <a href="{% url 'equipos' %}">Atrás</a>
    </div>

    <main>
        <section>
            <article>
                <div class="container">
                    <h1>Añadir {{ form_type|title }}</h1>

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Guardar</button>
                    </form>
                </div>
            </article>
        </section>
    </main>
</body>

</html>